body {
  margin:0;
  background-color:#9f9f9f;
}

#game {
  width: 800px;
  height: 600px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-300px 0 0 -400px;
}

#example {
  background-color: #eee;
  border: 2px solid #666;
  border-radius: 10px;
  -moz-border-radius: 10px;
  /*
  -webkit-box-shadow: 0 0 5px 5px #eee;
  -moz-box-shadow: 0 0 5px 5px #eee;
  box-shadow: 0 0 5px 5px #eee;
  */
}
